<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <h1>Your Cart</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr th:each="book : ${cart}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <form th:action="@{/updateCart}" method="post">
                    <input type="hidden" name="isbn" th:value="${book.isbn}" />
                    <input type="number" name="quantity" th:value="${book.quantity}" min="0" />
            </td>
            <td>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>

    <!-- Total Cost Section -->
    <h2>Total Cost: $<span th:text="${totalCost}">0.00</span></h2>

    <form th:action="@{/checkout}" method="post">
        <input type="submit" value="Checkout">
    </form>

    <a th:href="@{/index}">Return to Main Page</a>
    <a th:href="@{/books}">Continue Shopping</a>
</body>

</html>
