<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Your Cart</h1>
	<table>
		<form th:action="@{/updateCart}" method="post">
			<table>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				<tr th:each="book : ${cart}">
					<td th:text="${book.title}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.price}"></td>
					<td th:text="${book.quantity}"></td>
				</tr>
			</table>
			<input type="submit" value="Update Cart">
		</form>

	</table>

	<form th:action="@{/checkout}" method="post">
		<input type="submit" value="Checkout">
	</form>

	<a th:href="@{/books}">Continue Shopping</a>
	<a th:href="@{/index}">Return to Main Page</a>
</body>

</html>